<%- include('partials/header') %>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container text-left position-relative">
      <h1 data-aos="fade-up" class="blue-text">Vinea Care</h1>
      <br>
      <h2 data-aos="fade-up" class="cta-txt blue-text" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
        Offering Proffesional Care
        with<br><strong>compassion and excellence.</strong></h2>
      <br>
      <a data-aos="fade-up" href="#jobs" class="btn-get-started">Join Us</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content justify-content-around">
          <div class="col-lg-6" data-aos="fade-up">
            <h2 class="blue-text">Who are we?</h2>
            <p>At Vinea Care, our vision is creating a better everyday life for all the people we
              serve. Our mission is delivering quality care compassionately. Vinea, which is latin for Vineyard, is
              where we grew up calling
              home and learnt the values we now take to others. These values are at the core of our services.</p>

            <p>
              Our well-trained care takers assist with everyday household, personal, social, and medical tasks. We
              ensure that your life is in good order and that you can enjoy your time with us in comfort,
              peace, and joy. Our services include:</p>
            <ul>
              <li><i class="ri-check-double-line"></i>Live-in care</li>
              <li><i class="ri-check-double-line"></i>Child Care</li>
              <li><i class="ri-check-double-line"></i>Visiting Care</li>
              <li><i class="ri-check-double-line"></i>Specialised Care</li>
            </ul>

          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="100">
            <img src="/assets/img/stock/vineacare_who_are_we.png" alt="" class="img-fluid">
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row justify-content-center">
          <div class="text-center">
            <h3 data-aos="zoom-in">Our Values</h3>
          </div>

        </div>
        <br>
        <div class="row">

          <div class="col-lg-3 col-6 text-center">
            <h5 data-aos="zoom-in" data-aos-delay="100">Hospitality</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h5 data-aos="zoom-in" data-aos-delay="200">Communication</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h5 data-aos="zoom-in" data-aos-delay="200">Independence</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h5 data-aos="zoom-in" data-aos-delay="400">Fulfilment</h5>
          </div>

          <br>
          <br>

        </div>

      </div>
    </section>
    <!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row ">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content" data-aos="fade-up">
              <h3>Why Choose<br>Vinea Care?</h3>
              <p>
                With directors that have a range of experience in nursing and care management; all our operations are
                wisely overseen, guided, and setup to not only meet but also surpass all health regulations. We have
                also
                taken informed measures to combat the risks attributed to the COVID-19 pandemic.</p>
              <div class="text-left">
                <a href="#contact" class="more-btn">Get in touch with us now<i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">

                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-right" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-briefcase"></i>
                    <h4 class="blue-text">Experienced Management</h4>
                    <p>A dedicated team with years of experience in complex care, domiciliary, learning disabilities,
                      and palliative care.</p>
                  </div>
                </div>

                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-right" data-aos-delay="400">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-phone-vibrate"></i>
                    <h4 class="blue-text">24/7 Call Support</h4>
                    <p>Feel free to dial us up anytime, we'll be on hand and ready to listen.</p>
                  </div>
                </div>

                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-right" data-aos-delay="600">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-card-checklist"></i>
                    <h4 class="blue-text">Certified Staff</h4>
                    <p>Compassionate, qualified, and dedicated.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->


    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="row justify-content-center">

        <div class="col-10 col-lg-6 justify-content-center" data-aos="fade-up">
          <h3>Not sure what kind of support will suit you?</h3> <br>
          <p>Reach out to us and our dedicated team will help you<br>identify how our services can best meet your needs.
          </p>
          <br>
          <a class="cta-btn" href="mailto:admin@vineacare.com">Write To Us</a>
          <a class="cta-btn" href="tel:+447551851185" style="margin-left: 22px;">Give Us A Call</a>
        </div>

      </div>
    </section>
    <!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-up">
              <h2 class="blue-text">Our Services</h2>
              <p>
                At Vinea Care we understand that every individual is different and has specific needs, hence we appoint
                each of our clients to our experienced coordinators to ensure the care plan you receive will meet all
                your needs. We encourage dialogue with our clients and enjoy your reviews on our services. Our dedicated
                team have a 24/7 line to ensure you receive the support you need. Get in touch with us to find out more.
              </p>

            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">

              <div class="col-md-6 align-items-stretch" data-aos="fade-up" data-aos-delay="250">
                <div class="service-flip-card">
                  <div class="service-flip-card-inner">
                    <div class="service-flip-card-front">
                      <img src="/assets/img/stock/vinea_care_live_in_care.png" alt="Live-in care">
                      <h4>Live-in care</h4>
                    </div>
                    <div class="service-flip-card-back">
                      <p>
                        A fully trained carer will be living with you and will support you with your daily
                        needs, keeping you comfortable and independent from the comfort of your own home.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 align-items-stretch" data-aos="fade-up" data-aos-delay="350">
                <div class="service-flip-card">
                  <div class="service-flip-card-inner">
                    <div class="service-flip-card-front">
                      <img src="/assets/img/stock/vinea_care_child_care.jpg" alt="Child Care">
                      <h4>Child Care</h4>
                    </div>
                    <div class="service-flip-card-back">
                      <p>
                        Our team of dedicated caregivers are here to support you with your childcare needs. Whether you
                        need
                        someone to look after your children while you're at work, or you need someone to help with
                        school runs and other childcare needs, we're here to help.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
                <div class="service-flip-card">
                  <div class="service-flip-card-inner">
                    <div class="service-flip-card-front">
                      <img src="/assets/img/stock/vinea_care_respite_care.png" alt="Respite Care">
                      <h4>Respite Care</h4>
                    </div>
                    <div class="service-flip-card-back">
                      <p>
                        Have you been caring for a loved one and are now looking for a temporary helping hand? Vinea
                        care
                        has a team of dedicated caregivers who can give you the helping hand you need.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="550">
                <div class="service-flip-card">
                  <div class="service-flip-card-inner">
                    <div class="service-flip-card-front">
                      <img src="/assets/img/stock/vinea_care_visiting_care.png" alt="Visiting Care">
                      <h4>Visiting Care</h4>
                    </div>
                    <div class="service-flip-card-back">
                      <p>
                        Let us arrange regular visits where our caregivers can handle tasks such as laundry, house
                        cleaning, meal preparation, and running errands.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>


    <!-- ======= Cta Section ======= -->
    <section id="jobs" class="cta cta-2">
      <div class="row justify-content-around">

        <div class="text-start col-lg-6" data-aos="fade-up" data-aos-delay="50">
          <h3>Become a Caregiver</h3>
          <br> <br>
          <p>
            Welcome to the Vinea Care team and thank you for choosing us. We believe in people and have a strong work
            ethic with a fun and welcoming work culture. Do you have a passion for others? To care and support for those
            who need a helping hand? We want to hear from you. Fill in our application form and our HR team will be in
            touch.
          </p>
          <br>
          <a class="cta-btn" href="https://form.jotform.com/242644763508058">Application Form</a>
          <!-- <a class="cta-btn" href="mailto:careers@vineacare.com">Submit</a> -->
        </div>

      </div>
    </section>
    <!-- End Cta Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-up">
            <div class="section-title">
              <h2 class="blue-text">Contact</h2>
              <p>Might you be having an inquiry about our services? Perhaps you'd like to join us as one of our
                caregivers and would like further guidance. Feel free to email, call, or visit us and we'll be glad to
                help you however we can.</p>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <iframe style="border:0; width: 100%; height: 270px;"
              src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1482.468900146754!2d-0.216702780872543!3d51.89934611056701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s25%20Caxton%20point%2C%20Caxton%20Way%2C%20Stevenage%2C%20SG1%202XU!5e0!3m2!1sen!2ske!4v1675340299221!5m2!1sen!2ske"
              frameborder="0" allowfullscreen></iframe>
            <div class="info mt-4">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Vinea Care Limited, 25 Caxton point, Caxton Way, Stevenage, SG1 2XU</p>
            </div>

            <div class="row">
              <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="150">
                <div class="info">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p><a href="mailto:careers@vineacare.com">careers@vineacare.com </a> <br>Job Applications.</p>
                  <br>
                  <p><a href="mailto:Admin@vineacare.com">admin@vineacare.com</a> <br> Official Enquiries Only.</p>
                </div>
              </div>
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="info w-100 mt-4">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p> <a href="tel:+447551851185">+44 7551 851185</a></p>
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <%- include('partials/footer') %>